body {
    margin: 0;
    font-size: medium;
    font-weight: normal;
}
.mainTable {
    display: flex;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    align-self: flex-start;
}

.tableHeaderRow {
    border: 1px solid black;
    font-size: 18px;
    font-weight: bold;
}

.columnHeader {
    border: 1px solid black;
    width: auto;
}

.productColumn {
    border: 1px solid black;
}

.productRow {
    border: 1px solid black;
    font-size: 16px;

}

.mainConteiner{
    display: flex;
    flex-direction: row;
}